@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333333;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

header {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#bot-info {
    background-color: #ffffff;
    border: 1px solid #007bff;
    width: 90%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bot-logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

h2 {
    text-align: center;
    margin: 0 0 15px;
    color: #007bff;
}

p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5;
}

.bot-btn {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Adicionando margem inferior para separar os botões */
}

.bot-btn:hover {
    background-color: #0056b3;
}

/* Adicionando estilos para o novo elemento "showcase" */
.showcase {
    text-align: center;
    margin-top: 40px; /* Espaço entre a seção "bot-info" e a seção "showcase" */
    margin-bottom: 40px; /* Adicionando margem inferior para separar a seção "showcase" */
}

.showcase h2 {
    color: #007bff; /* Cor azul para o título "Showcase" */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para o vídeo */
.video-container {
    position: relative;
    width: 100%;
    height: 400px; /* Altura fixa para o vídeo */
}

.video-container iframe {
    width: 100%; /* Ocupa toda a largura do contêiner */
    height: 100%; /* Ocupa toda a altura do contêiner */
}
